.slides {
    display: none;
}

.fade {
    animation: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

.divBtn {
    width: 300px;
}

.btnPrev {
    float: left;
}

.btnNext {
    float: right;
}