html,
body {
    height: 100%;
}

body {
    background-image: url('images/tenbura-ori.png');
    background-size: 100px auto;
    cursor: url('images/syou.png'), auto;
}

body:active {
    cursor: url('images/syou-rot.png'), auto;
}